// variables.scss
$bodybg:#F7F8F9;
$left-side-menu-bg-color: #fff;

// Theme Colors
$color-primary: #042E8D;
$color-primary-light: #C9E3FF;
$color-primary-lighter: #E0EEFF;
$color-primary-hover: #F3F9FF;

// Text Colors
$color-text-default: #000;
$color-text-muted: rgba(0, 0, 0, 0.8);
$color-text-white: #fff;

// Borders and Backgrounds
$color-border-light: #e5e5e5;
$color-border-lighter: #E8E8E8;
$color-bg-light: #F0F3F7;

// Misc
$color-bullet: #042E8D;

//Top Header
$width-leftslide-logo:23.9%;

$red-text:rgba(226, 0, 0, 1);

//search menu bar
$searchmenubar-background: #fff;
$searchmenubar-border:#F2F2F2;
$searchmenubar-boxshadow:#0000001A;
$searchmenubar-text-color:#000;
$searchmenubar-placeholder-text-color: #B5B5B5;
$searchmenubar-maticon-color:#B5B5B5;

$input-bgcolor:#fff;
$input-text-fontsize: 12px;
$input-padding: 5px 5px;

$select-dropdown-bgcolor:#fff;

$inputdisabled-bgcolor: rgba(238, 238, 238, 1);

$table-row-height: 35px;
$table-data-fontsize: 12px;

$yellow-text: #FDB813;
