::ng-deep .btnOk {
    background: #095BB8;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding: 5px 70px;
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    border: none;
    outline: none;
}